################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BootStrap-examples
/bootstrap-example
/flex-example
/js - array for
/JS - Ciclo for
/JS - Istr condizionali
/JS - Mail
/JS - Object
/bootstrap-html-freelancer
/bootstrap-js-freelancer
/bootstrap-travel-agency
/Es-random
/html-css-curriculum-vitae
/html-css-flex-cards
/html-ricetta-pancake
/js-biglietto-treno
/js-fizzbuzz
/js-lista-spesa
/js-our-team
/js-paliedispari
/js-pwdgen-wannabe
/js-snacks
